header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Alata", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header-logo {
  font-family: "Alata", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2rem;
}

.text-body p {
  font-family: "Merriweather", Georgia, "Times New Roman", serif;
  line-height: 2rem;
  margin-bottom: 2rem;
}

.header-logo:hover,
.social-icon:hover {
  text-decoration: none;
}

.navbar-toggler {
  font-size: 1em;
}

.social-icon {
  font-size: 1.15em;
  display: inline-block;
}
.social-icon-lg {
  font-size: 1.25em;
}

.close-icon {
  font-size: 1em;
}

.featured-img-container {
  width: 200px;
  height: 250px;
  position: relative;
  overflow: hidden;
}

.featured-img {
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
}

.form-control-line {
  background: none;
  border: none;
  border-bottom: 1px solid #e5e5e5;
}
.form-control-line:focus {
  background: none;
}

.img-author {
  width: 60px;
}
